/* layout */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");


.container {
    max-width: 850px;
  }
  
  .heading {
    color: black;
  }

  .mera-link {
    font-size: 30px;
    font-weight: 400;
    margin-right: 1rem;
    text-decoration: none;
  }

  .nav-links {
    list-style: none;
  }

  .nav-link-item {
    margin-right: 1.5rem;
    display: inline;
  }
  
  .nav-link-text {
    color: black;
    text-decoration: none; 
    font-weight: 200;
  }

  .mera-color {
    color: #30d5c8;
  }

  /* home */
  .space {
    margin-left: 2.5rem;
  }

  .header {
    font-size: 400%;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .paragraph {
    font-size: 275%;
    font-weight: 900;
    margin-bottom: 200px;
  }

  /* about */

  .about-spacing {
    margin-left: 2.5rem;
    padding-top: 5rem;
  }

  .left-box {
    width: 50%;
    display: inline-block;
  }


 